main {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
  }
  
  main h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }
  
  main form {
    display: flex;
    flex-direction: column;
  }
  
  main form label {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  
  main form input[type="text"],
  main form input[type="tel"],
  main form input[type="email"],
  main form input[type="date"],
  main form input[type="number"] {
    width: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
  }
  
  main form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  main form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-bottom: 10px;
  }
  
  main form .btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .back-btn {
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }